
<!-- ABOUT US PAGE-->
<div class="row about" id="about">
    <h1>About Us</h1>
    <div class="row">
        <div class="col about-disc">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam iure impedit laborum quos cum dolores aspernatur adipisci asperiores quis, cupiditate beatae illum repudiandae! Quod cumque quas aliquam, quisquam accusantium dolorum!
                Quisquam, enim. Alias libero recusandae reiciendis, eos iusto nemo corrupti, reprehenderit accusantium, totam vitae sed deleniti perspiciatis aperiam voluptatibus? Animi mollitia delectus nisi voluptatibus doloribus, voluptate deleniti odit quae eius?
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam iure impedit laborum quos cum dolores aspernatur adipisci asperiores quis, cupiditate beatae illum repudiandae! Quod cumque quas aliquam, quisquam accusantium dolorum!
                Quisquam, enim. Alias libero recusandae reiciendis, eos iusto nemo corrupti, reprehenderit accusantium, totam vitae sed deleniti perspiciatis aperiam voluptatibus? Animi mollitia delectus nisi voluptatibus doloribus, voluptate deleniti odit quae eius?
            </p>
        </div>
        <div class="col">
            <img src="/images/img_6_1673721610901.jpg" alt="">
        </div>
    </div>
</div>