<!-- AMENITIES PAGE-->
<div class="row amen" id="amen">
    <h1>Amenities</h1>
    <div class="row amen-contents">
        <div class="col">
            <i class="fa-solid fa-car-side"></i>
            <p>Drive-Through</p>
        </div>
        <div class="col">
            <i class="fa-solid fa-sack-xmark"></i>
            <p>Takeaway</p>        
        </div>
        <div class="col">
            <i class="fa-solid fa-utensils"></i>
            <p>Dine-in</p>    
        </div>
        <div class="col">
            <i class="fa-solid fa-ice-cream"></i>
            <p>Party Orders</p>    
        </div>
    </div>
</div>