<!-- Footer -->
<div class="row footer" id="footer">
    <h1>Ways To Contact Us</h1>
    <div class="col contact">
        <h4>Contact</h4>
        <p><i class="fa-solid fa-envelope"></i> Email: burgeriza@gmail.com</p>
        <p><i class="fa-solid fa-phone"></i> Phone: +251 939390000</p>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-telegram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="col location">
        <h4>Location</h4>
        <p>Bora Amusement Park | Bole</p>
        <a href="https://maps.app.goo.gl/WWJFBedeEBSrU6hS7">
            <img src="/images/Screenshot_20230115-120000_Maps.jpg" alt="">
        </a>
    </div>
    <div class="col footer-chips">
<!--         <a href="https://pos1234.github.io/Portifolio">Paulos Gebeyehu</a>
 -->        <img src="/images/chips_1.jpg" alt="">
    </div>
</div>