<!-- HOME PAGE-->
<div class="row home" id="home">
    <div class="col home-content">
        <img src="/images/0e531b8da1676679b9afede96537fa45.jpg" alt="">
    </div>
    <div class="col home-text">
        <h1 class="home-moto">SERVED <br> WITH PASSION</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi officiis quo consequatur iusto, rerum quia vel eaque voluptatum repellendus animi sunt? Vitae velit fugiat repellat</p>
        <a href="#breakfast" class="learn"><i class="fa-solid fa-arrow-down"> Learn More</i></a>
    </div>
    <div class="col home-pizza-img">
        <img src="/images/5d2f0c2f001485fbc0af39b44fc64f36.jpg" alt="">
    </div>
</div>