<!-- GALLERY PAGE-->
<div class="row gallery" id="photo">
    <h1>Photo Collections</h1>
    <div class="row gallery-content">
        <div class="col-md-4 col-sm-12">
            <img src="/images/img_4_1673803918315.jpg" alt="">
        </div>
        <div class="col-md-4 col-sm-12">
            <img src="/images/img_3_1673721542271.jpg" alt="">
        </div>
        <div class="col-md-4 col-sm-12">
            <img src="/images/img_3_1673803879394.jpg" alt="">
        </div>
    </div>
    <div class="row gallery-content">
        <div class="col-md-4 col-sm-12">
            <img src="/images/img_4_1673721556234.jpg" alt="">
        </div>
        <div class="col-md-4 col-sm-12">
            <img src="/images/2020-02-25 (2).jpg" alt="">
        </div>
        <div class="col-md-4 col-sm-12">
            <img src="/images/img_7_1673803967394.jpg" alt="">
        </div>
    </div>
</div>
